<div class="mx-auto w-2/4">
  <h1 class="text-2xl font-semibold">Login</h1>
  <% if(error){ %>
    <div id="error-message"><%= error %></div>
  <% } %>
  <form action="/auth/login" method="POST" class="mt-4 py-4 flex flex-col gap-4 w-full">
    <div>
      <input type="email" id="email" name="email" placeholder="Email" required class="w-full p-2 border rounded">
    </div>
    <div>
      <input type="password" id="password" name="password" placeholder="Password" required class="w-full p-2 border rounded">
    </div>
    <button type="submit" class="float-right px-4 py-2 bg-teal-700 text-white rounded cursor-pointer">Login</button>
    <p class="text-center">Don't have an account? <a href="/register" class="underline text-blue-500">Register here</a></p>
  </form>
</div>